@font-face {
  font-family: Fabriga;
  src:
    url('../assets/fonts/Fabriga-Light.eot'),
    url('../assets/fonts/Fabriga-Light.woff2') format('woff2'),
    url('../assets/fonts/Fabriga-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: Fabriga;
  src:
    url('../assets/fonts/Fabriga-Regular.eot'),
    url('../assets/fonts/Fabriga-Regular.woff2') format('woff2'),
    url('../assets/fonts/Fabriga-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Fabriga;
  src:
    url('../assets/fonts/Fabriga-Italic.eot'),
    url('../assets/fonts/Fabriga-Italic.woff2') format('woff2'),
    url('../assets/fonts/Fabriga-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: Fabriga;
  src:
    url('../assets/fonts/Fabriga-Medium.eot'),
    url('../assets/fonts/Fabriga-Medium.woff2') format('woff2'),
    url('../assets/fonts/Fabriga-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: Fabriga;
  src:
    url('../assets/fonts/Fabriga-Bold.eot'),
    url('../assets/fonts/Fabriga-Bold.woff2') format('woff2'),
    url('../assets/fonts/Fabriga-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Fabriga;
  src:
    url('../assets/fonts/Fabriga-Black.eot'),
    url('../assets/fonts/Fabriga-Black.woff2') format('woff2'),
    url('../assets/fonts/Fabriga-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}
