@import 'variables';
@import 'fonts';
@import 'normalize';
@import 'typography';
@import 'mixins';

html {
  font-size: 62.5%;
}

body {
  color: var(--archangel);
  font-family: Fabriga, sans-serif;
}
