:root {
  /* Colours */
  
  --setter: #f54114;
  --setter-light: #ff7742;
  --setter-dark: #b90000;

  --archangel: #054150;
  --archangel-light: #3a6b7b;
  --archangel-dark: #001a27;

  --corgi: #f09100;
  --corgi-light: #ffc245;
  --corgi-dark: #b66200;

  --sphynx: #facdb4;
  --sphynx-light: #ffffe6;
  --sphynx-dark: #c69c84;

  --husky: #ffebdc;
  --husky-light: #fff;
  --husky-dark: #ccb9aa;
  
  /* Font sizes */

  --h1-font-size: 4.8rem;
  --h2-font-size: 3.6rem;
  --h3-font-size: 2.8rem;
  --h4-font-size: 2.2rem;
  --h5-font-size: 1.8rem;
  --body-font-size: 1.6rem;
  --small-font-size: 1.4rem;
  
  /* Font weights */
  
  --font-light: 300;
  --font-regular: 400;
  --font-medium: 500;
  --font-bold: 700;
  --font-black: 900;
  
  /* Spacing */
  
  --spacing-tiny: 8px;
  --spacing-small: 16px;
  --spacing-base: 24px;
  --spacing-large: 48px;
  --spacing-x-large: 64px;
  
  /* Line heights */
  
  --heading-line-height: 110%;
  --body-line-height: 150%;
  
  /* Logo sizes */

  --logo-min-width: 45px;
  --wordmark-min-width: 700px;
}
